/* .navbar .dum1 {
    flex: 2;
}

.navbar .dum3 {
    flex: 2;
}

.navbar .dum2 {
    flex: 9;
}
 */


 .head-max-contain {
    display: flex;
 }

.first {
    flex: 1;
}

.second {
    flex: 2;
}

.third {
    flex: 1;
}