.A h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.A h1:hover{
    color: rgb(190, 124, 203);
}

.A .small-hero {
    font-size: 18px;
    color: #e5e7eb;
}

.navbar .logo {
    font-size: 24px;   
    font-style: italic;
    color: #f9faf8;
}

.navbar .logo:hover {
    color: yellow;
}

.navbar .nav-items {
    color: #f9faf8;
}

.navbar .nav-items a:hover{
    color: rgb(226, 171, 180);
}

.navbar .nav-items a:active{
    color: rgb(214, 80, 103);
}

.B h1 {
    font-size: 36px;
    color: #1f2937;
}

.C h1 {
    font-size: 36px;
    font-style: light italic;
    color: #1f2937;
}

.E {
    color: #e5e7eb;
}

.D {
    color: #e5e7eb;
}

.D button {
    color: #e5e7eb;
}